* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'ARDECODE';
    src: url(../fonts/ARDECODE.ttf)
}

header {
    overflow: hidden;
    background-color: #2A2D32;
    height: 100px;
}

.header_wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 40%;
    margin-top: 38px;
}


.menubar {
    width: 55%;
    float: right;
    min-height: 100px;
    margin-top: -24px;

}


.menubar ul li {
    float: left;
    list-style: none;
    padding-right: 6px;
}


.menubar ul li a {

    text-decoration: none;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    padding: 39px 11px 42px 11px;
    transition: .5s;
}

.menubar ul li a:hover {
    border-top: 6px solid #FFD701;
    background-color: #1E2329;
}

.main_bg {
    overflow: hidden;
    background-image: url(../images/banner.jpg);
    background-size: 100% 100%;
    min-height: 438px;
    background-color: black;
}

.banner {
    text-align: center;
    position: relative;
}

.welocome_text {
    padding-top: 80px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
    display: block;
}

.first_line {
    width: 34%;
    display: block;
    margin: 0 auto;
    border: 1px dashed #DFCAC5;
    margin-top: 32px;
    opacity: 0.5;
}

.Logo_text {
    display: block;
    font-family: 'Droid Sans', sans-serif;
    color: white;
    font-size: 45px;
    margin-top: 32px;
    font-weight: bolder;
    letter-spacing: 6px;
}

.second_line {
    width: 26%;
    display: block;
    margin: 0 auto;
    border: 1px dashed #DFCAC5;
    margin-top: 42px;
    opacity: 0.5;
}

.category_text {
    margin-top: 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 22px;
    letter-spacing: 4px;
    display: block;
}

.view_pricing {
    width: 1022px;
    height: 106px;
    background: #2A2E33;
    position: absolute;
    left: 12%;
    bottom: 70px;
    -webkit-appearance: none;
    box-shadow: 2px 27px 44px -10px #9C9C9C;
}

.viwe_pricing_lebel {
    color: #9D8718;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 30px;
}

.form_group {
    float: left;
    margin-top: 14px;
}


.common_date_style {
    width: 258px;
    height: 44px;
    border-radius: 10px;
    border: none;
    margin-left: 18px;
    background-image: url(../images/calennder.png);
    background-repeat: no-repeat;
    background-position: 5%;
    text-indent: 30px;
    font-size: 18px;
    font-family: quicksand;
    letter-spacing: 2px;
}

#select_room_type {
    width: 258px;
    height: 44px;
    border-radius: 10px;
    border: none;
    color: #9D9D9F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 18px;
    -webkit-appearance: none;
}

.view_price_button {
    margin-top: 22px;
    margin-left: 12px;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: #FFD701;
    color: #2A2F32;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
}

#select_room_type {
    background-image: url(../images/down_arrow.png);
    background-repeat: no-repeat;
    background-position: 5%;
    text-indent: 27px;
}

.book_package {
    overflow: hidden;
    background: url(../images/bg1.jpg);
    min-height: 515px;
    border-bottom: 2px solid #969698;
}

.book_package_wrapper {
    width: 80%;
    margin: 0 auto;
}

.book_package_title {
    width: 1018px;
    margin: 0 auto;
}

.book_package_title h1 {
    font-family: 'ARDECODE';
    font-size: 60px;
    text-align: center;
    padding-top: 105px;
}

.book_package_title p {
    font-family: quicksand;
    font-size: 14px;
    text-align: center;
}

.slider {
    width: 1018px;
    height: 244px;
    margin: 0 auto;
}

.left_indicator {
    float: left;
    margin-right: 107px;
    margin-top: 108px;
}

.single_item {
    float: left;
    border: 3px solid black;
    box-sizing: border-box;
    height: 215px;
    width: 217px;
    border-radius: 108px;
    margin-right: 25px;
    margin-top: 47px;
    background-image: url(../images/golf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.single_item: first-child {
    margin-left: 106px;
}

.right_indicator {
    float: right;
    margin-left: 80px;
    margin-top: 108px;
}

.room_type {
    overflow: hidden;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    min-height: 835px;
}

.room_type_title h1 {
    font-family: 'ARDECODE';
    font-size: 60px;
    text-align: center;
    padding-top: 42px;
}

.all_rooms {
    width: 89%;
    margin: 0 auto;
}

.single_room {
    float: left;
    width: 380px;
    height: 272px;
    margin-top: 31px;
    margin-right: 20px;
}

.standard_double_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/standard-double-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.room_data {
    text-align: center;
}

.room_data h1 {
    font-family: 'quicksand';
    font-weight: 500;
    font-size: 24px;
    margin-top: 9px;
}

.room_data p {
    font-family: 'quicksand';
    font-weight: 500;
    font-size: 12px;
    margin-top: 12px;
}

.roomm_facilities {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
    /* display: block; */
}

.supperior_double_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/superior-double.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.family_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/family-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.standard_single_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/single-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.supperior_single_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/supperior-single-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.vip_room {
    border: 2px solid black;
    width: 380px;
    height: 160px;
    background-image: url(../images/vip-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.testimonial {
    min-height: 185px;
    background-color: #E7CB2C;
    position: relative;
}

.testimonial_data {
    margin-left: 70px;
}

.testimonial_data h1 {
    font-family: 'quicksand';
    font-size: 48px;
    font-weight: 500;
    color: white;
    padding-top: 48px;
    letter-spacing: 3px;
}

.testimonial_data span {
    font-family: 'quicksand';
    font-size: 18px;
    font-weight: 100;
    color: white;
    padding-top: 20px;
    letter-spacing: 1px;
    font-style: italic;
    display: block;
}

.person_img {
    position: absolute;
    left: 75%;
    bottom: -5px;
}

footer {
    overflow: hidden;
    background-color: #333333;
    min-height: 300px;
}

.footer_wrpper {
    width: 90%;
    margin: 0 auto;
}

.about_hotel {
    float: left;
    width: 230px;
    color: #C9C9C9;
}

.about_hotel h1 {
    font-family: 'droid sans';
    font-size: 18px;
    padding-top: 25px;
}

.about_hotel span {
    font-family: 'quicksand';
    font-size: 12px;
    padding-top: 13px;
    display: block;
    letter-spacing: .6px;
}


.latest_new {
    float: left;
    width: 230px;
    margin-left: 20px;
}

.latest_new h1 {
    color: #C9C9C9;
    font-family: 'droid sans';
    font-size: 18px;
    padding-top: 25px;
}

.latest_new p {
    color: #C9C9C9;
    font-family: 'quicksand';
    font-size: 12px;
    padding-top: 13px;
    display: block;
    letter-spacing: 0.6px;
}

.latest_new a {
    text-decoration: none;
    color: #89792E;
    letter-spacing: .6px;
    font-size: 12px;
}

.join {
    float: left;
    width: 458px;
    margin-left: 20px;
}

.join h1 {
    color: #C9C9C9;
    font-family: 'droid sans';
    font-size: 18px;
    padding-top: 25px;
}

.join span {
    color: #C9C9C9;
    font-family: 'quicksand';
    font-size: 12px;
    padding-top: 13px;
    display: block;
    letter-spacing: .6px;
}

.read_more_btn {
    width: 104px;
    height: 28px;
    border: none;
    border-radius: 10px;
    background-color: #E7CB2C;
    margin-top: 28px;
    font-family: 'droid sans';
    font-size: 12px;
}

.members_area {
    float: left;
    width: 230px;
    margin-left: 20px;
}

.members_area h1 {
    color: #C9C9C9;
    font-family: 'droid sans';
    font-size: 18px;
    padding-top: 25px;
    margin-bottom: 13px;
}

.login_label {
    color: #939393;
    font-family: 'quicksand';
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
}

.loing_input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #333333;
    border: 1px solid #1F1F1F;
    color: #939393;
    font-size: 15px;
    text-indent: 5px;
}

.login {
    width: 104px;
    height: 28px;
    border: none;
    border-radius: 10px;
    background-color: #E7CB2C;
    margin-top: 10px;
    font-family: 'droid sans';
    font-size: 12px;
}

.last_footer {
    height: 35px;
    background-color: #1F1F1F;
    width: 100%;
}
